### DATABASE ###

DATASOURCE_PASSWORD=
DATASOURCE_USERNAME=
DATASOURCE_PORT=3306
DATASOURCE_DATABASE=
DATASOURCE_URL="jdbc:mysql://mysql:${DATASOURCE_PORT}/${DATASOURCE_DATABASE}"
DATASOURCE_ROOT=

### EMAIL ###

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true

### API ###

TOKEN_SECRET=
